* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #172554;
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100vh;
  width: 100%;
}
